// Globals
$size: 30px;
$bg: #EF9A2F;
$border-color: $bg;


// Animation specific
$pulse-timing: 2s;
$lines-timing: .8s;


.loader-wrap {
    @include fp(padding, 50, 100);
    width: 25%;
}

* {
    animation-timing-function: cubic-bezier(.15,.46,.9,.6);
    color: $bg;
    box-sizing: border-box;
    text-align: center;
}

.loader {
    height: $size;
    width: $size;
    margin: 0 auto;

    & > div {
        background-color: $bg;
        height: $size;
        width: $size;
    }
}

.loader-pulse {
    position: relative;

    & > div {
        animation: pulse $pulse-timing infinite;
        border-radius: 50%;
        opacity: .7;
        position: absolute;
        top: 0;
        left: 0;

        &:nth-child(2) {
            animation-delay: -$pulse-timing / 2;
        }

        &:nth-child(3) {
            animation-delay: $pulse-timing;
        }
    }
}

.loader-lines {
    position: relative;

    & > div {
        position: absolute;
        height: 5px;
        width: $size;
        margin-top: 13px;
        animation: 2s completeRotate infinite  linear;

        &:before {
            content: '';
            width: 100%;
            left: 0;
            height: 100%;
            position: absolute;
            background-color: $bg;
        }

        &:nth-child(2) {

            &:before {
                transform: rotate(90deg);
            }
        }
    }
}


.loader-dots {
    position: relative;
    $dots-size: $size / 5;

    & > div {
        width: $dots-size;
        height: $dots-size;
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        top: 0;
        bottom: 0;
        margin: auto 0;

        &:nth-child(1) {
            left: 0;
            transform-origin: 15px center;
            animation: completeRotate 1s infinite;
        }

        &:nth-child(2) {
            left: 0;
            right: 0;
            margin: auto;
        }

        &:nth-child(3) {
            right: 0;
            transform-origin: -9px center;
            animation: completeRotate 1s infinite;
        }

    }
}

.loader-orbit {
    $dots-size: $size / 5;
    position: relative;

    & > div {
        border-radius: 50%;

        &:nth-child(1) {
            background-color: transparent;
            border: 1px solid $bg;
        }

        &:nth-child(2) {
            width: $dots-size;
            height: $dots-size;
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            right: 0;
            margin: auto;
        }

        &:nth-child(3) {
            width: $dots-size;
            height: $dots-size;
            position: absolute;
            display: inline-block;
            margin: auto;
            top: 0;
            bottom: 0;
            left: -$dots-size / 2;
            animation: 2s completeRotate linear infinite;
            transform-origin: ($size / 2 + ($dots-size / 2)) center;
        }
    }
}


.loader-triangles {
    position: relative;
    $triangle-width: 10px;
    $tri-timing: 0.5s;
    $tri-timing-delay: $tri-timing / 4;

    & > div {
        width: 0;
        height: 0;
        border-style: solid;
        display: inline-block;
        position: absolute;
        animation: triPulse infinite ease $tri-timing;
        animation-timing-function: linear;
        background-color: transparent;

        &:nth-child(1) {
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-width: $triangle-width $triangle-width 0 $triangle-width;
            border-color: $border-color transparent transparent transparent;
        }

        &:nth-child(2) {
            right: 0;
            top: 4px;
            border-width: $triangle-width $triangle-width $triangle-width 0;
            border-color: transparent $border-color transparent transparent;
            animation-delay: $tri-timing-delay;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            border-width: 0 $triangle-width $triangle-width $triangle-width;
            border-color: transparent transparent $border-color transparent;
            animation-delay: $tri-timing-delay * 2;

        }

        &:nth-child(4) {
            left: 0;
            top: 4px;
            border-width: $triangle-width 0 $triangle-width $triangle-width;
            border-color: transparent transparent transparent $border-color;

            animation-delay: $tri-timing-delay * 3;

        }
    }
}


.loader-timer {
    position: relative;

    & > div {

        &:nth-child(1) {
            clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
        }

        &:nth-child(2) {
            position: absolute;
            top: 0;
            clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
            animation: upDown 1s infinite alternate linear;
        }
    }
}


.loader-geo {
    $animation-time: 2s;
    $geo-length: 5;
    position: relative;
    transform-origin: center;

    & > div {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        border: 1px solid $bg;
        border-radius: 10%;
        animation: completeRotate infinite linear $animation-time;

        @for $i from 1 through $geo-length {
            &:nth-child(#{$i}) {
                animation-delay: $animation-time * -($i / $geo-length);
            }
        }
    }
}

.loader-box {
    position: relative;

    & > div {
        position: absolute;
        background-color: transparent;
        animation: boxScaleAndSpin infinite alternate forwards 2s;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-width: 2px;
        }

        &:nth-child(1) {

            &:before {
                left: 0;
                top: 0;
                border-top: solid $bg;
                animation: boxScaleAndSpinPsuedo-top infinite alternate forwards linear 2s;
            }
        }

        &:nth-child(2) {

            &:before {
                top: 0;
                right: 0;
                border-right: solid $bg;
                animation: boxScaleAndSpinPsuedo-right infinite alternate forwards linear 2s;
            }
        }

        &:nth-child(3) {

            &:before {
                bottom: 0;
                left: 0;
                border-bottom: solid $bg;
                animation: boxScaleAndSpinPsuedo-bottom infinite alternate forwards linear 2s;
            }
        }

        &:nth-child(4) {

            &:before {
                top: 0;
                left: 0;
                border-left: solid $bg;
                animation: boxScaleAndSpinPsuedo-left infinite alternate forwards linear 2s;
            }
        }
    }
}
