@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lines {
    from {left: 0} to {left: 100%}
}

@keyframes completeRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes triPulse {

    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes upDown {
    from { top: 0%; }
    to { top: 100% }
}


@keyframes boxSpin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }
}

@keyframes boxScaleAndSpin {

    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    44% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@mixin boxScaleDir($dir, $factor: -40%, $bounds: 20) {

    $top: 0 + $bounds + %;
    $bottom: 100 - $bounds + %;

    @keyframes boxScaleAndSpinPsuedo-#{$dir} {

        0% {
            #{$dir}: 0;
        }

        #{$top} {
            #{$dir}: #{$factor};
        }

        #{$bottom} {
            #{$dir}: #{$factor};
        }

        100% {
            #{$dir}: 0;
        }
    }
}

@include boxScaleDir(top);
@include boxScaleDir(right);
@include boxScaleDir(bottom);
@include boxScaleDir(left);


@mixin discDirections($name, $i: top, $j: left, $size: 15px) {
    @keyframes disc#{$name} {
        from {
            #{$i}: 0;
            #{$j}: 0;
        }

        to {
            #{$i}: calc(100% - #{$size});
            #{$j}: calc(100% - #{$size});
        }
    }

}

@include discDirections($name: 'TopLeft');
@include discDirections($name: 'TopRight', $j: right);
@include discDirections($name: 'BottomRight', $i: bottom, $j: right)
@include discDirections($name: 'BottomLeft', $i: bottom);


@keyframes discSpin {
    to {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    from {
        transform: rotate3d(1, 1, 1, -360deg);
    }
}
